$sm-height: 4px;

/* 
**************
    Color Variables
**************
*/

$light-grey: #ecf0f1;
$black:#191919;
$light-black: #3F3D56;
$pink: #ff0054;
$yellow: #fad390;
$grey: #393e46;
$light-grey-100: rgba(243, 244, 246, 1);
$light-grey-400: #eeeeee;
$light-grey-500: #dfdfdf;
$light-grey-600: #d1d1d1;
$light-grey-900: grey;
