main {
    @include flex(column);

    height: 100vh;
    width: 100%;

    background: linear-gradient(135deg, #9d116b, #39629d);
    background: url('../../../assets/home/landing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}

main::before {
    content: '';
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: $black;
    opacity: .4;
}

header.navbar {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;

    >a .logo {
        margin-top: 10px;
        height: 130px;
    }
}

h1.heading,
h2.heading {
    color: white;
    font-family: Rancho;
    letter-spacing: 5px;
    text-shadow: 6px 6px 1px 2px $light-grey-500;

    width: 100%;
    text-align: center;
}

h1.heading {
    font-size: 12rem;
}


h2.heading {
    font-size: 5rem;
}

@media only screen and (max-width: 566px) {
    header.navbar>a .logo {
        height: 90px;
    }
}

@media only screen and (max-width: 397px) {
    main h1 {
        font-size: 10rem;
    }
}