@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;

    section {
        position: relative;
        display: flex;
        height: 100vh;

        .bg-rect {
            top: 0;
            left: 0;
            position: absolute;
            height: 100%;
            width: 42%;
            background-color: $light-grey;
            z-index: -1;
        }

        .left,
        .right {
            padding: 100px;
        }

        .left {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            h1 {
                font-size: 8rem;
                font-family: Roboto;
                font-weight: 500;
            }

            p {
                font-size: 2rem;
                margin-left: 10px;
                font-weight: 600;

                span {
                    color: $pink;
                }
            }

            img {
                position: absolute;
                left: 0;
                bottom: 0;
                object-fit: cover;
                height: 370px;
                margin-left: 15px;
            }
        }

        .right {
            width: 390px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            z-index: 3;

            .icon {
                height: 100px;
                width: 100px;
                margin: 30px;
                background-color: $light-black;
                padding: 15px;
                border-radius: 19px;
                transition: .7s all ease;

                &:hover {
                    box-shadow: 0 0 6px 5px $light-grey;
                    background-color: white;
                    transform: translateY(-20px);
                }
            }
        }
    }
}

@media only screen and (max-width: 973px) {
    .contact section {
        flex-direction: column;
        justify-content: flex-start;
        padding: 100px 40px;
        height: auto;

        .right {
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;

            .icon {
                margin: 0;
            }
        }

        .left,
        .right {
            padding: 20px;
        }

        .bg-rect {
            display: none;
        }

        .left {
            width: 100%;

            h1 {
                font-size: 5rem;
                margin-bottom: 10px;
            }

            img {
                left: 300px;
                height: 250px;
            }
        }
    }
}
@media only screen and (max-width: 824px) {
    .contact section .left img{
        display: none;
    }
}

@media only screen and (max-width: 445px) {
    .contact section {
        padding: 100px 10px;

        .left,
        .right {
            padding: 10px 5px;
        }

        .right{
            justify-content: flex-start;

            .icon{
                height: 80px;
                width: 80px;
                margin: 0 20px;
                border-radius: 19px;
                transition: .7s all ease;
            }
        }
    }
}