.About {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    main {
        overflow: hidden;
        padding: 50px 0;
        @include flex(column, null, null);

        .content {
            @include flex(column, null, null);
            padding: 0 50px;

            h1 {
                @include underline-heading;
            }

            p {
                font-size: 1.4rem;
            }
        }
    }

    section.timeline {
        background-color: $light-grey-400;
        padding-bottom: 50px;
        @include flex(column);

        h1 {
            margin: 20px 0;
            padding-bottom: 5px;
            font-size: 3rem;
            text-align: center;
            @include underline-heading-border;
        }
    }

    section.our-team {
        padding: 20px 0;
        @include flex(column);

        h1 {
            font-size: 3rem;
            margin-bottom: 20px;
            @include underline-heading-border;
        }

        p {
            text-align: center;
            margin: 0 10px;

            span:nth-child(1) {
                display: block;

                @media only screen and (max-width: 431px) {
                    display: inline;
                }
            }

        }

        .members {
            padding: 30px 0;
            padding-top: 60px;
            @include flex(row, center, null, wrap);
            gap: 20px;

            .member {
                padding: 50px;
                @include flex(column);
                border-radius: 40px;
                

                img {
                    object-fit: cover;
                    height: 120px;
                    border-radius: 20px;
                }

                h3 {
                    margin: 10px 0;
                    font-size: 2rem;
                    font-weight: 400;
                }

                h5 {
                    font-size: 1.4rem;
                    font-weight: 400;
                    color: $pink;
                }
            }
        }
    }

    section.past-members{
        @include flex(column , center , center , wrap);
        padding: 20px 0;
        padding-bottom: 50px;

        h1 {
            font-size: 3rem;
            margin-bottom: 40px;
            @include underline-heading-border;
        }

        .years{
            @include flex(row , center , center , wrap);

            .year{
                background-color: $light-grey-100;
                padding: 30px 70px;
                margin: 20px;
                border-radius: 10px;

                h2{
                    color: $pink;
                    font-size: 2.3rem;
                    text-align: center;
                }

                .member{
                    @include flex(column , center , center , wrap);

                    h3{
                        font-size: 1.6rem;
                        margin: 10px;
                        font-weight: 500;
                    }

                    h4{
                        font-size: 1.3rem;
                        font-weight: 500;
                    }

                }

            }
        }
    }

    section.waves {
        position: relative;
        height: auto;
        width: 100%;
        padding-top: 200px;

        .wave{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 999999999999;
        }

        // TODO https://www.youtube.com/watch?v=MMNEEdGa5eE
    }
}


@media only screen and (max-width: 521px) {
    .about main .content{
        padding: 0 20px;
    }
}

// @media only screen and (max-width: 770px) {
//     .about section .waves img {
//         top: -50px;
//     }
// }

// @media only screen and (max-width: 465px) {
//     .about section .waves img {
//         top: -20px;
//     }
// }