@import url('https://fonts.googleapis.com/css2?family=Crete+Round&display=swap');

.Home {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;

    main {
        @include flex(column);

        height: 100vh;
        width: 100%;

        background: linear-gradient(135deg, #9d116b, #39629d);
        background: url('../../assets/landing.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        width: 100%;
    }

    main::before {
        content: '';
        position: absolute;
        height: 100vh;
        width: 100%;
        background-color: $black;
        opacity: .4;
    }

    header.navbar {
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;

        >a .logo {
            margin-top: 10px;
            height: 130px;
        }
    }

    h1.heading,
    h2.heading {
        color: white;
        font-family: Rancho;
        letter-spacing: 5px;
        text-shadow: 6px 6px 1px 2px $light-grey-500;

        width: 100%;
        text-align: center;
    }

    h1.heading {
        font-size: 12rem;
    }


    h2.heading {
        font-size: 5rem;
    }

    section {
        padding: 30px 60px;
    }

    section.features {
        @include flex(column);

        h1 {
            font-size: 4rem;
            margin-bottom: 30px;
            @include underline-heading-border;
        }

        .features-list {
            @include flex(null, center, center, wrap);

            .feature {
                height: 300px;
                width: 300px;
                @include flex(column);
                padding: 20px;

                img {
                    object-fit: cover;
                    background-color: $pink;
                    padding: 5px;
                    height: 50px;
                    border-radius: 7px;
                }

                h3 {
                    margin: 10px 0;
                }

                p {
                    text-align: center;
                }
            }
        }
    }

    section.testimonials {
        @include flex(column);

        h1 {
            font-size: 4rem;
            margin-bottom: 40px;
            @include underline-heading-border;
        }

        .testimonials-list {
            @include flex(null, center, center, wrap);

            .testimonial {
                background-color: $light-grey-100;
                padding: 20px;
                margin: 10px;

                svg {
                    object-fit: cover;
                    height: 30px;
                    fill: $light-grey-600;
                }

                p {
                    width: 45ch;
                    margin: 10px 0;
                }

                h3 {
                    font-size: 1.4rem;
                    margin-bottom: 5px;
                }

                h5 {
                    font-size: 1.4rem;
                    color: $light-grey-900;
                }
            }
        }
    }
}

@media only screen and (max-width: 566px) {
    .Home header.navbar>a .logo {
        height: 90px;
    }
}

@media only screen and (max-width: 397px) {
    .Home main h1 {
        font-size: 10rem;
    }

    .Home section.features h1 {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 410px) {
    .Home section.testimonials .testimonials-list p {
        width: 30ch;
    }
}