main {
    padding: 60px 100px;
    @include flex;

    .left {
        img {
            height: 370px;
            min-width: 370px;
            object-fit: cover;
        }
    }

    .right {
        margin-left: 30px;

        h1 {
            font-size: 2.7rem;
            @include underline-heading-border(4px);
        }

        p {
            padding: 30px 0;
        }

        .btns {
            @include flex(column, null, null);

            button {
                margin: 10px 0;
                background-color: $pink;
                color: white;

                &:hover {
                    background-color: #f00050;
                }
            }
        }
    }
}

@media only screen and (max-width: 1170px) {
    .EventDetails main {
        flex-direction: column;

        >div {
            margin-top: 30px;
            padding-right: 0;
            padding-left: 0;
        }
    }
}

@media only screen and (max-width: 532px) {
    main {
        padding: 20px;
    }

    main .left {
        display: none;
    }

    section.queries {
        .right svg {
            height: 200px;
        }
    }
}